<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello {{nom}}</title>
    </head>
    <body>
        <h1>
            Salut, {{nom}}, les paramètres récupérés sont :
        </h1>
        <ul>
            <li>
                {{v1}}
            </li>
            <li>
                {{v2}}
            </li>
        </ul>
    </body>
</html>
