<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Erreur interne</title>
    </head>
    <body>
        <h1>ERREUR</h1>
        <p>
            {{erreur}}
        </p>
    </body>
</html>
