<!DOCTYPE html>
<html>
    <head>
        <title>Movies</title>
        <style media="screen">
            body{font-family: 'Arial', 'Helvetica', sans-serif;}
        </style>
    </head>
    <body>
    <ul>
        {% for movie in movies %}
        <li>
            <a href="http://www.imdb.com/title/{{movie.imdb}}">
                {{movie.title}}, {{movie.year}}
            </a>
        </li>
        {% else %}
        <li>Aucun film de trouvé.</li>
        {% endfor %}
    </ul>
    </body>
</html>
